<%= render "shared/top_nav"%>
<h1>add a new movie</h1>

<form action="<%= movies_path%>" method="POST">
<input type="hidden" name="authenticity_token" value ="<% form_authenticity_token %>">
  <label>Title</label>
  <br>
  <input type="text" name="movie[:title]">
  <br>
  <br>
  <label>Rating</label>
  <br>
  <input type="number" name="movie[:rating]" min="0" max="10">
  <br>
  <br>
  <input type="submit" value="Add Movie">
  
</form>

<%= link_to "Back", :back %>